/* Resets */
*, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    line-height: calc(1em + 0.5rem);
    font-family: "Poppins", sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Poppins", sans-serif;
    background-color: var(--main-light-color);
    transition: all 0.3s ease-in-out;
}
/* Scrollbar */
body::-webkit-scrollbar{
    width: 6px;
    height: 6px;
}
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
}
body::-webkit-scrollbar-thumb {
    background-color: var(--main-rose-color);
    outline: 1px solid var(--main-rose-color);
}
/* Scrollbar */
p {
    line-height: calc(1em + 0.7rem);
}
ul, li {
    list-style: none;
}
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    user-select: none;
}
button {
    display: inline-block;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
span {
    color: var(--main-rose-color);
}
/* Resets */

/* Variables */
:root {
    /* sizes */
    --size-xxs: 0.5rem;
    --size-10px: 0.625rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;

    /* colors */
    --main-dark-color: #020512;
    --main-light-color: #F1F5F9;
    --main-rose-color: #ff6262;
    --main-grey-color: #64748B;
    --main-white-color: #fff;
    --main-footer-line-color : rgba(2, 6, 23, 0.2);

    --light-light-color: rgba(241, 245, 249, 0.7);
    --light-dark-color: rgba(2, 5, 18, 0.7);
}
/* Variables */
.dark__mode {
    --main-dark-color: #F1F5F9;
    --main-light-color: #020512;
    --light-light-color: rgba(2, 5, 18, 0.7);
    --light-dark-color: rgba(241, 245, 249, 0.7);
    --main-white-color: #020512;
    --main-footer-line-color : rgba(241, 245, 249, 0.2);
}